<section class="container colonne centre">
  <app-return-btn />
  <app-slider-profil />
  <!-- Présentation et photo de profil -->
  <div class="bulle centrecolonne colonne">
    <h3>Mes informations</h3>
    <div class="bgcouleur"></div>
    <p>Photo de profil</p>

    <input type="text" id="email" value="" placeholder="Adresse email" />

    <input type="text" id="prenom" value="" placeholder="Prénom" />

    <input type="text" id="nom" value="" placeholder="Nom" />

    <input type="text" id="tel" value="" placeholder="Numéro de téléphone" />

    <input type="text" id="adresse" value="" placeholder="Adresse" />

    <button>Enregistrer</button>
  </div>
</section>
