

   <!-- bulle avec les infos préremplis importées de la bdd -->

<section class="centre">

     <!-- Présentation et photo de profil -->
  <div class="bulle centrecolonne colonne">

    <h3>Mes informations</h3>
    <div class="bgcouleur"></div>
    <p>Photo de profil</p>

    <div class="centrecolonne colonne">

      <label for="email">E-mail</label>
      <input type="text" id="email" value="">

      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" value="">

      <label for="nom">Nom</label>
      <input type="text" id="nom" value="">

      <label for="tel">Numéro de téléphone</label>
      <input type="text" id="tel" value="">

      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" value="">

      <button>Enregistrer</button>

    </div>

  </div>

</section>
