.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bulle {
  width: 90%;
  height: auto;
  margin: 4%;
  background-color: white;
  color: #294f7f;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 1.5rem 0;
}
button {
  margin: 5%;
  background-color: #294F7F;
  width: 90%;
}

.bgcouleur {
  background: center / contain no-repeat
    url(../../../../../public/icon/utilisateurmodif-profil.png) #eaeff5;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

input {
  width: 90%;
  height: 3rem;
  margin: 1rem;
}

input::placeholder {
  color: #294f7f;
  padding-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .bulle {
    width: 85%;
    height: auto;
    margin: 4%;
    background-color: white;
    color: #294f7f;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    align-items: center;
  }

  .bulle {
    width: 50%;
    height: auto;
    margin: 4%;
    background-color: white;
    color: #294f7f;
    border-radius: 2rem;
  }

  app-slider-profil {
    width: 100%;
  }
}
