
<app-return-btn></app-return-btn>

<a routerLink="/newEcole" class="btn btn-warning">Ajouter une nouvelle école</a>

<div class="row g-1">
  <div
    class="col-md-4 d-flex justify-content-center"
    *ngFor="let item of ecoles; let i = index"
  >
    <div class="card">
      <div class="card-body">
        <h2>Ecole n°{{ item.id }}</h2>
        <p class="card-text">
          <span class="bold">Nom : </span>{{ item.nameEc }}
        </p>
        <p class="card-text">
          <span class="bold">Adresse : </span>{{ item.adresseEc }}
        </p>
        <p class="card-text">
          <span class="bold">Téléphone : </span>{{ item.telEc }}
        </p>
        <p class="card-text">
          <span class="bold">Email : </span>{{ item.mailEc }}
        </p>
        <a routerLink="/ecoles/{{ item.id }}" class="btn btn-primary"
          >Voir l'école</a
        >
        <a routerLink="/ecoles/{{ item.id }}/edit" class="btn btn-success"
          >Modifier</a
        >
      </div>
    </div>
  </div>
</div>
