
<app-return-btn></app-return-btn>

<section class="colonne">

<button routerLink="/newClasse" class="boutonAjout">Ajouter une nouvelle classe</button>

<div class="colonneCl">
  <div class="bulle" *ngFor="let item of classes; let i = index">
        <h2>Classe n°{{ item.id }}</h2>

        <p>Id de l'école : {{ item.ecole.id }}</p>
        <p>Nom de l'école : {{ item.ecole.nameEc }}</p>
        <p>Nom : {{ item.nameCl }}</p>
        <p>Niveau : {{ item.niveauCl }}</p>
        <p>Année : {{ item.anneeCl | date: 'yyyy' }}</p>

        <button routerLink="/classes/{{ item.id }}" class="boutonMod">Voir la classe</button>
        <button routerLink="/classes/{{ item.id }}/edit" class="boutonMod">Modifier</button>

  </div>
</div>

</section>
