<a routerLink="/newClasse" class="btn btn-warning"
  >Ajouter une nouvelle classe</a
>
<div class="row g-1">
  <div
    class="col-md-4 d-flex justify-content-center"
    *ngFor="let item of classes; let i = index"
  >
    <div class="card">
      <div class="card-body">
        <h2>Classe n°{{ item.id }}</h2>
        <p class="card-text">
          <span class="bold">Id de l'école : </span>{{ item.ecole.id }}
        </p>
        <p class="card-text">
          <span class="bold">Nom de l'école : </span>{{ item.ecole.nameEc }}
        </p>
        <p class="card-text">
          <span class="bold">Nom : </span>{{ item.nameCl }}
        </p>
        <p class="card-text">
          <span class="bold">Niveau : </span>{{ item.niveauCl }}
        </p>
        <p class="card-text">
          <span class="bold">Année : </span>{{ item.anneeCl }}
        </p>
        <a routerLink="/classes/{{ item.id }}" class="btn btn-primary"
          >Voir la classe</a
        >
        <a routerLink="/classes/{{ item.id }}/edit" class="btn btn-success"
          >Modifier</a
        >
      </div>
    </div>
  </div>
</div>
