
      <!-- Présentation du site -->

<section class="container">

  <div>
    <h3>Un monde où les enfants sont heureux d’apprendre</h3>

    <div class="centre">
      <img src="img\mascotte.png" alt="mascotte" class="mascotte">
    </div>

    <p class="intro"><b>Eduzouzous</b> est une plateforme en ligne dédiée à la gestion scolaire, permettant aux parents et aux enseignants de suivre les activités, les appréciations et les prochains apprentissages. Elle favorise une communication efficace et offre un environnement d'apprentissage motivant et interactif. Eduzouzous rend l'éducation plus accessible et agréable pour tous.</p>
  </div>

  <div class="colonneAc">
    <div class="centre">
      <img src="img\accueil1.png" class="imgPresentation marge" alt="Accueil1">
    </div>
    <div class="colonne bullePresentation marge">
      <div class="centre">
        <p class="textPresentation"><b>Facilité d'utilisation</b> : Notre plateforme est conçue pour être accessible à tous, avec une navigation simple et des outils pratiques.</p>
      </div>
    </div>
  </div>

  <div class="colonneAc">
    <div class="colonne bullePresentation marge">
      <div class="centre">
        <p class="textPresentation"><b>Communication efficace</b> : Restez en contact avec les enseignants, les élèves et les parents grâce à des notifications en temps réel et un support réactif.</p>
      </div>
    </div>
    <img src="img/communication_efficace_.jpg" class="imgPresentation marge masque" alt="Accueil2">
  </div>

  <div class="colonneAc">
    <img src="img/communication_efficace2.jpg" class="imgPresentation marge masque" alt="Accueil3">
    <div class="colonne bullePresentation marge">
      <div class="centre">
        <p class="textPresentation"><b>Soutien à l'apprentissage</b> : Offrez à vos enfants un environnement d'apprentissage motivant et interactif, où ils peuvent s'épanouir.</p>
      </div>
    </div>
  </div>

</section>

<hr>

      <!-- Boutons en savoir plus, connexion et inscription -->

<section class="container">

  <div class="centre">
      <p routerLink="/ensavoirplus" class=" centre centrecolonne SavoirPlus">En savoir plus</p>
  </div>

  <div class="centre">
    <div class="colonneAc">
      <div class="colonne boutonCoIns colorCo marge" routerLink="/login">
        <div class="centre">
          <img src="img\crayon.png" class="imgCoIns marge" alt="accueilConnexion">
        </div>
        <p class="textCoIns">Connexion</p>
      </div>
      <div class="colonne boutonCoIns colorIns marge" routerLink="/register">
        <div class="centre">
          <img src="img\livre.png" class="imgCoIns marge" alt="accueilInscription">
        </div>
        <p class="textCoIns">Inscription</p>
      </div>
    </div>
  </div>

</section>

<hr>

      <!-- Témoignages -->

<section class="container">

  <div>
    <h3>Nos Eduzouzous</h3>
  </div>

  <div class="colonneAc espace marge">
    <div class="bulleTemoignage marge">
      <div class="centrecolonne">
        <img src="img\femme espagnol.png" alt="accueilProfil1" class="imgProfil">
      </div>
      <div class="centrecolonne">
        <p class="textTemoignage">Eduzouzous a simplifié la gestion scolaire de mes enfants. Un outil indispensable !</p>
      </div>
    </div>

    <div class="bulleTemoignage marge">
      <div class="centrecolonne">
        <img src="img\homme âgé.png" alt="accueilProfil2" class="imgProfil">
      </div>
      <div class="centrecolonne">
        <p class="textTemoignage">Eduzouzous m'aide à organiser mon emploi du temps et à communiquer efficacement avec élèves et parents. Notifications et support au top !</p>
      </div>
    </div>
  </div>

  <div class="colonneAc espace marge">
    <div class="bulleTemoignage marge">
      <div class="centrecolonne">
        <img src="img\homme bonnet.png" alt="accueilProfil1" class="imgProfil">
      </div>
      <div class="centrecolonne">
        <p class="textTemoignage">Eduzouzous est impressionnant : rapide, fiable, et toujours à jour. Un outil indispensable pour les parents et les enseignants !</p>
      </div>
    </div>

    <div class="bulleTemoignage marge colonne">
      <div class="centrecolonne">
        <img src="img\femme blanche.png" alt="accueilProfil2" class="imgProfil">
      </div>
      <div class="centrecolonne">
        <p class="textTemoignage">Eduzouzous nous permet de suivre facilement la scolarité de notre enfant. Le site est facile d’utilisation.</p>
      </div>
    </div>
  </div>

  <div>
    <h4>Merci pour vos retours !</h4>
  </div>

</section>

      <!-- Liens réseaux sociaux -->


