<div class="container colonne">
  <div class="btnRetour">
    <a href=""><img class="return" src="icon\flèche-gauche.png" alt="" /></a>
  </div>
  <form
    [formGroup]="user"
    (ngSubmit)="onSubmit()"
    class="formRegister centre colonne bordure"
  >
    <h2>Inscription</h2>
    <br />
    <div class="input">
      <input
        type="email"
        placeholder="E-mail"
        id="username"
        formControlName="username"
        required
      />
    </div>
    <br />
    <div class="input">
      <input
        type="password"
        placeholder="Mot de passe"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <br />
    <div class="input confirmPassword">
      <input
        type="password"
        placeholder="Confirmer le mot de passe"
        id="confirmPassword"
        formControlName="confirmPassword"
        required
      />
      <div
        *ngIf="
      user.get('confirmPassword')?.errors?.['passwordMismatch'] &&
      user.get('confirmPassword')?.touched
    "
      >
        Les mots de passe ne correspondent pas.
      </div>
    </div>
    <br />
    <div class="input">
      <input
        type="text"
        placeholder="Nom"
        id="lastName"
        formControlName="lastName"
        required
      />
    </div>
    <br />
    <div class="input">
      <input
        type="text"
        placeholder="Prénom"
        id="firstName"
        formControlName="firstName"
        required
      />
    </div>
    <br />
    <div class="input">
      <input
        type="tel"
        placeholder="Téléphone"
        id="tel"
        formControlName="tel"
        required
      />
    </div>
    <br />
    <div class="input">
      <input
        type="text"
        placeholder="Adresse"
        id="adresse"
        formControlName="adresse"
        required
      />
    </div>
    <br />
    <div class="input">
      <select
        id="ecole"
        formControlName="ecoleId"
        (change)="onEcoleChange($event)"
      >
        <option value="" disabled selected>Selectionnez une école</option>
        <option *ngFor="let ecole of ecoles" [value]="ecole.id">
          {{ ecole.nameEc }}
        </option>
      </select>
    </div>
    <br />
    <button type="submit">S'inscrire</button>
    <br />
  </form>
  <hr class="customHr hideHr" />
</div>
