<app-return-btn></app-return-btn>

<h2>détail du cours</h2>



<form [formGroup]="coursDetail">

  <div class="colonne marge centrecolonne">

    <input id="nameR" name="nameR" type="text" size="50" formControlName="nameR">
    @if (valid && form['nameR'].invalid) {
    <span>Nom invalide</span>
    }
  </div>

  <div class="colonne marge centrecolonne">

    <input type="text" id="descriptionR" name="descriptionR" formControlName="descriptionR" size="500" maxlength="500">
    @if (valid && form['descriptionR'].invalid) {
    <span>Description invalide</span>
    }
  </div>

  <div class="colonne marge centrecolonne">

    <select name="typeR" id="typeR" formControlName="typeR">
      <option value="" disabled selected>pour quelle niveau ?</option>
      @for (item of typeRC; track $index) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
  </div>

  <div class="colonne marge centrecolonne">

    <select name="matiereR" id="matiereR" formControlName="matiereR">
      <option value="" disabled selected>Liste des matières</option>
      @for (matiere of matieres; track $index) {
      <option [value]="matiere">{{ matiere }}</option>
      }
    </select>
  </div>

  <div class="colonne marge centrecolonne">

    <input type="text" id="docC" name="docC" formControlName="docC" size="50" maxlength="50">
    @if (valid && form['docC'].invalid) {
    <span>Type invalide</span>
    }
  </div>

  <div class="colonne marge centrecolonne">

    <input type="text" id="videoC" name="videoC" formControlName="videoC" size="50" maxlength="50">
    @if (valid && form['videoC'].invalid) {
    <span>Type invalide</span>
    }
  </div>

  <div class="colonne marge centrecolonne ">

    <input type="text" id="imageFile" name="imageFile" placeholder="ressource supplémentaire">
    @if (valid && form['imageFile'].invalid) {
    <span>Type invalide</span>
    }
  </div>

  <div class="colonne marge centrecolonne">

    <button class="marge"> document <img src="icon/download full.png" alt="icon download"></button>
    <button class="marge  textColor btnWeb"> video <img src="icon/web.png" alt="icon web" class="imgWeb"></button>


  </div>



</form>