.listecarte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carte {
  width: 100%;
  margin: 2em;
  padding: 1em;
}

h2 {
  text-align: center;
}

.btn1 {
  display: flex;
  justify-content: center;
}

.btn2 {
  display: flex;
  justify-content: space-around;
}
.btn2 button {
  width: 50%;
  height: 4rem;
  background-color: white;
  color: rgba(41, 79, 127, 0.9);
  border-radius: 1rem;
  margin: 10px;
}
.btn2 a {
  text-decoration: none;
  list-style-type: none;
  color: rgba(41, 79, 127, 0.9);
  font-size: 2rem;
}

#btn3 {
  width: 100%;
}
.centre {
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  border-radius: 3rem;
  margin: 3rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

p {
  padding: 5px;
  text-shadow: -2px 2px 2px black;
}
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .webVersion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
