<section class="marge">
  <hr />

  <div class="ligne espace">
    <a href="https://www.facebook.com/"
      ><img src="icon\facebook.png" alt="facebook" class="imgLogo"
    /></a>
    <a href="https://www.instagram.com/"
      ><img src="icon\instagram.png" alt="instagram" class="imgLogo"
    /></a>
    <a href="https://x.com/?lang=fr"
      ><img src="icon\twitter.png" alt="twitter" class="imgLogo"
    /></a>
    <a href="https://www.youtube.com/"
      ><img src="icon\youtube.png" alt="youtube" class="imgLogo"
    /></a>
    <a href="https://www.facebook.com/"
      ><img src="icon\facebook.png" alt="facebook" class="imgLogo"
    /></a>
    <a href="https://www.instagram.com/"
      ><img src="icon\instagram.png" alt="instagram" class="imgLogo"
    /></a>
    <a href="https://x.com/?lang=fr"
      ><img src="icon\twitter.png" alt="twitter" class="imgLogo"
    /></a>
    <a href="https://www.youtube.com/"
      ><img src="icon\youtube.png" alt="youtube" class="imgLogo"
    /></a>
  </div>

  <hr />
</section>

<div class="ligne ecarter">
  <div>
    <h2>Eduzouzous</h2>
    <p class="textColor">eduzouzous&#64;gmail.com</p>
  </div>

  <div class="linkInfo">
    <h2>Informations</h2>
    <a routerLink="/rgpd" class="textColor">Protection des données</a>
    <a routerLink="/cgu" class="textColor">Conditions générales de ventes</a>
    <a routerLink="/supportassistance" class="textColor">Support et assistance</a>
  </div>
</div>

<br />
<div class="imgFooter">
  <img src="/footerImg.png" alt="logo footer" />
</div>
