.imgLogo {
  width: 30px;
  height: 30px;
  opacity: 70%;
}

.imgFooter {
  background-image: url("/footerImg.png");
  background-repeat: repeat-x;
  overflow-x: hidden;
}

.ecarter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center
}

hr {
  text-align: center;
  width: 80%;
}

.marge {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.espace {
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0;
}

h2 {
  color: rgb(41, 79, 127, 0.7);
}

.textColor {
  text-decoration: none;
  color: rgb(41, 79, 127, 0.5);
}

@media only screen and (min-width: 600px) {
  .ecarter {
    flex-direction: row;
  }

  hr {
    width: 50%;
  }

  .espace {
    width: 50%;
  }
}

@media only screen and (min-width: 769px) {
  hr {
    width: 40%;
  }

  .espace {
    width: 40%;
  }
}
