<section class="marge">

  <hr>

  <div class="ligne espace">
    <a href="https://www.facebook.com/"><img src="img\facebook.png" alt="facebook" class="imgLogo"></a>
    <a href="https://www.instagram.com/"><img src="img\instagram.png" alt="instagram" class="imgLogo"></a>
    <a href="https://x.com/?lang=fr"><img src="img\twitter.png" alt="twitter" class="imgLogo"></a>
    <a href="https://www.youtube.com/"><img src="img\youtube.png" alt="youtube" class="imgLogo"></a>
  </div>

  <hr>

</section>

<div class="ligne ecarter">
  <div>
    <h2>Eduzouzous</h2>
    <p>eduzouzous&#64;gmail.com</p>
  </div>

  <div>
    <h2>Informations</h2>
    <a href="">Protection des données</a>
    <br>
  <a href="">Conditions générales de ventes</a>
  </div>
</div>

<br>
<div class="imgFooter">
<img src="/footerImg.png" alt="logo footer">
</div>
