
   <!-- infos sur la protection des données -->

<section class="centre">

  <div class="bulle">

    <h3>Eduzouzous et le RGPD</h3>
    <h4>Qu'est ce que le RGPD ?</h4>
    <p>Le règlement n°2016/679, dit Règlement Général sur la Protection des Données (RGPD, ou encore GDPR, de l'anglais General Data Protection Regulation), est un règlement de l'Union européenne qui constitue le texte de référence en matière de protection des données à caractère personnel. Il renforce et unifie la protection des données pour les individus au sein de l'Union européenne.</p>
    <p>Les principaux objectifs du RGPD sont d'accroître à la fois la protection des personnes concernées par un traitement de leurs données à caractère personnel et la responsabilisation des acteurs de ce traitement. Ces principes pourront être appliqués grâce à l'augmentation du pouvoir des autorités de régulation.</p>
    <h4>Pourquoi Eduzouzous est conforme au RGPD ?</h4>
    <ul>
      <li>Nous ne recueillons que les données nécessaires au bon fonctionnement de la plateforme</li>
      <li>Ces données sont stockées sur des serveurs sécurisés en France</li>
      <li>Nous ne vendons, ni ne louons aucune de vos données personnelles</li>
      <li>Vous pouvez obtenir sur simple demande les données vous concernant</li>
    </ul>

  </div>

</section>
