<div class="container colonne">
  <div class="modal hidden" id="modalDeconnexion">
    <div class="modalContent">
      <img src="img/question.png" alt="" class="imgModal" />
      <span>Vous n'avez rien oublié ?</span>
      <div class="groupBtn">
        <button class="btnAccept" (click)="openModal()">
          Non, je n'ai rien oublié
        </button>
        <button (click)="closeModal()" class="btnDeny">
          Revenir en arrière
        </button>
      </div>
    </div>
  </div>
  <app-chargement-deco-modal />
  <app-a-bientot-modal />
</div>
