<p>login works!</p>
<form [formGroup]="loginForm" name="loginForm" (ngSubmit)="onLogin()">
  <h2>se connecter</h2>

  <label for="username">username</label>
  <input type="text" name="username" placeholder="username" formControlName="username" />

  <br />
  <label for="password">mot de passe</label>
  <input type="password" name="password" placeholder="password" formControlName="password" />

  <br />

  <button type="submit" onsubmit="getRole()">se connecter</button>
  @if (submitted && (form['username'].invalid || form['password'].invalid)) {
  <span>les éléments saisis sont incorrects</span>
  }
</form>