<div class="btnRetour">
  <a href="javascript:void(0);" onclick="window.history.back()"><img class="return" src="icon\flèche-gauche.png"
      alt="" /></a>
</div>

   <!-- Nom de l'école et boutons Actu/établissements -->

<section class="container centre centrecolonne">

<div class="choixMenuP">
  <h2>{{ ecole.nameEc }}</h2>

  <div class="ligne espace">
    <div class="choixMenuEtablissement iconeActualite2 centrecolonne colonne" routerLink="../../ecoleActualites/{{ecole.id}}">
      <img src="icon\un-journal2.png" alt="icon actu" class="iconeActualite">
      <p class="tailletext">Actualités</p>
    </div>

    <div class="choixMenuEtablissement iconeActualite1 centrecolonne colonne">
      <img src="icon\ecole.png" alt="icon etablissement" class="iconeActualite">
      <p class="tailletext">L'établissement</p>
    </div>
  </div>

</div>

</section>

   <!-- liste des cards établissement -->

<section class="centrecolonne colonneEc">

  <div class="cardsEtablissement1 couleurcard1 centrecolonne colonne">
    <div class="imagecards1"></div>
    <h4>Présentation de l'école [...]</h4>
    <p>Descriptif</p>
  </div>

  <div class="centrecolonne colonneEc">
    <div class="cardsEtablissement couleurcard2 centrecolonne colonne">
      <img src="img\spaghetti.png" alt="imageactu1" class="imagecards">
      <p>Menu de la cantine</p>
    </div>
</div>

</section>

   <!-- Infos sur l'établissement -->

<section class="centre">

<div class="cardsEtablissement colonne cardContact">

  <h5>Contact</h5>

  <p><b>Numéro de téléphone :</b> {{ ecole.telEc }}</p>

  <p><b>Adresse de l'établissement :</b> {{ ecole.adresseEc }}</p>

  <p><b>Adresse mail :</b> {{ ecole.mailEc }}</p>

</div>

</section>
