<nav class="navbar">
  <div class="navbarMenu">
    <a class="" routerLink="/Accueil"
      ><img class="logo" src="/logoEduzouzou.png" alt="logo" />
    </a>
    <img
      class="burgerIcon"
      src="icon/menu-burger.png"
      alt="burgerMenu"
      (click)="openModal()"
    />
    <div class="navLinks">
      <a routerLink="classes" class="navLink"
        ><img src="icon/casquette-de-graduation1.png" alt="" />Classes</a
      >
      <a routerLink="ecoles" class="navLink"
        ><img src="icon/ecole-1.png" alt="" />Ecoles</a
      >

      <a routerLink="messagerie" class="navLink"
        ><img src="icon/commentaire-alt.png" alt="" />Messagerie</a
      >
      <a routerLink="/profil" class="navLink" *ngIf="isLoggedIn$ | async"
        ><img src="icon/utilisateur(1).png" alt="" />Profil</a
      >
      <a routerLink="/register" class="navLink" *ngIf="!(isLoggedIn$ | async)"
        ><img src="icon/utilisateur(1).png" alt="" />Inscription</a
      >
      <a class="navLink" *ngIf="isLoggedIn$ | async"
        ><img src="icon/croix-petit.png" (click)="logout()" />Déconnexion</a
      >
      <a routerLink="/login" class="navLink" *ngIf="!(isLoggedIn$ | async)"
        ><img src="icon/utilisateur(1).png" alt="" />Connexion</a
      >
    </div>
  </div>
</nav>

<!--MODAL MENU BURGER-->
<div class="modal hiddenMenu" id="navbarSupportedContent">
  <div class="modalContent">
    <div class="btnBurger">
      <img
        class="closeBurger"
        src="icon/bouton-quitter.png"
        alt="quitter"
        (click)="closeModal()"
      />
    </div>
    <hr />
    <div class="burgerLink">
      <a aria-current="page" routerLink="home"
        ><img src="icon/maison(1).png" alt="" />Accueil</a
      >
    </div>
    <div class="burgerLink">
      <a routerLink="classes"
        ><img src="icon/casquette-de-graduation1.png" alt="" />Classes</a
      >
    </div>
    <div class="burgerLink">
      <a routerLink="ecoles"><img src="icon/ecole-1.png" alt="" />Ecoles</a>
    </div>
    <div class="burgerLink">
      <a routerLink="messagerie"
        ><img src="icon/commentaire-alt.png" alt="" />Messagerie</a
      >
    </div>
    <div class="burgerLink">
      <a *ngIf="isLoggedIn$ | async" routerLink="/profil"
        ><img src="icon/utilisateur(1)" alt="" />Profil</a
      >
    </div>
    <div class="burgerLink">
      <a *ngIf="isLoggedIn$ | async" (click)="logout()">Déconnexion</a>
    </div>
    <div class="burgerLink">
      <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Connexion</a>
    </div>
    <div class="burgerLink">
      <a *ngIf="!(isLoggedIn$ | async)" routerLink="/register">Inscription</a>
    </div>
  </div>
</div>
