<nav class="navbar">
  <div class="navbarMenu">
    <a class="" routerLink="/Accueil"
      ><img
        src="/logoEduzouzou.png"
        style="height: 4rem; width: auto"
        alt="logo"
      />
    </a>
    <img class="burgerIcon" src="icon/menu-burger.png" alt="" />
  </div>
</nav>
<div class="modal hiddenMenu" id="navbarSupportedContent">
  <div class="modalContent">
    <a aria-current="page" routerLink="home"
      ><img src="icon/maison(1).png" alt="" />Accueil</a
    >
    <a routerLink="classes"
      ><img src="icon/casquette-de-graduation1.png" alt="" />Classes</a
    >
    <a routerLink="ecoles"><img src="icon/ecole-1.png" alt="" />Ecoles</a>
    <a routerLink="messagerie"
      ><img src="icon/commentaire-alt.png" alt="" />Messagerie</a
    >
    <li *ngIf="isLoggedIn$ | async">
      <a routerLink="/profil"><img src="icon/utilisateur(1)" alt="" />Profil</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a (click)="logout()">Déconnexion</a>
    </li>

    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/login">Connexion</a>
    </li>

    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/register">Inscription</a>
    </li>
  </div>
</div>
