
<app-return-btn></app-return-btn>

<section class="centre">

  <div class="bulle colonne">

    <form [formGroup]="ecole" (ngSubmit)="onSubmit()">
        <label for="nameEc">Nom École</label>
        <input
          type="text"
          id="nameEc"
          formControlName="nameEc"
          required/>

        <label for="adresseEc">Adresse</label>
        <input
          type="text"
          id="adresseEc"
          formControlName="adresseEc"
          required/>

        <label for="telEc">Téléphone</label>
        <input
          type="text"
          id="telEc"
          formControlName="telEc"
          required/>

        <label for="mailEc">Email</label>
        <input
          type="email"
          id="mailEc"
          formControlName="mailEc"
          required/>

      <div class="colonneResp centrecolonne">
        <button type="submit">Ajouter</button>
        <button routerLink="/ecoles">Retour</button>
      </div>

    </form>

  </div>

</section>
