.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 30px;
  width: 95%;
  font-family: "Playwrite AR";
  text-align: center;
  margin: 1.5rem 0;
  text-decoration: none;
}
.card1 {
  background-color: rgb(255, 140, 157, 0.7);
}

.card2 {
  background-color: rgb(162, 183, 255);
}

.card3 {
  background-color: rgb(248, 189, 255);
}

.card4 {
  background-color: rgb(255, 241, 230);
}

h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #412945;
}

@media only screen and (min-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 769px) {
  .container {
    display: flex;
    align-items: center;
  }
  .content {
    justify-items: center;
    width: 70%;
  }
  .card {
    width: 80%;
  }

  h2 {
    color: #FFFF;
  }
}
