<div class="container colonne">
  <div class="btnRetour">
    <a href="javascript:void(0);" onclick="window.history.back()"
      ><img class="return" src="icon\flèche-gauche.png" alt=""
    /></a>
  </div>
  <div class="content">
    <a routerLink="/classes" class="card card1">
      <img src="img/education.png" alt="" />
      <h2>Classe</h2>
    </a>
    <a routerLink="/ecoles" class="card card2">
      <img src="img/ecole-stickers.png" alt="" />
      <h2>École</h2>
    </a>
    <a routerLink="/forum" class="card card3">
      <img src="img/forum-questions.png" alt="" />
      <h2>Forum</h2>
    </a>
    <a routerLink="/profil" class="card card4">
      <img src="img/bulle-profil.png" alt="" />
      <h2>Profil</h2>
    </a>
  </div>
</div>
