
<app-return-btn></app-return-btn>

<div class="container colonne">
  <div class="cardCgv">
    <div class="titre">
      <img src="icon/egalite.png" alt="livre" />
      <h2>Eduzouzous et le RGPD</h2>
    </div>
    <div class="content">
      <span>
        <span class="bold">Qu'est ce que le RGPD ?</span>
        <br /><br />
        Le règlement n°2016/679, dit Règlement Général sur la Protection des
        Données (RGPD, ou encore GDPR, de l'anglais General Data Protection
        Regulation), est un règlement de l'Union européenne qui constitue le
        texte de référence en matière de protection des données à caractère
        personnel. Il renforce et unifie la protection des données pour les
        individus au sein de l'Union européenne.
        <br /><br />
        Les principaux objectifs du RGPD sont d'accroître à la fois la
        protection des personnes concernées par un traitement de leurs données à
        caractère personnel et la responsabilisation des acteurs de ce
        traitement. Ces principes pourront être appliqués grâce à l'augmentation
        du pouvoir des autorités de régulation.
        <br /><br />
        <span class="bold">Pourquoi Eduzouzous est conforme au RGPD ?</span>
        <ul>
          <li>
            Nous ne recueillons que les données nécessaires au bon
            fonctionnement de la plateforme
          </li>
          <li>
            Ces données sont stockées sur des serveurs sécurisés en France
          </li>
          <li>
            Nous ne vendons, ni ne louons aucune de vos données personnelles
          </li>
          <li>
            Vous pouvez obtenir sur simple demande les données vous concernant
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
