<h2>Liste des activités</h2>

<div>
  <button routerLink="/creerActivites">Créer une activité</button>
</div>

<div class="listecarte homer">
  @for (item of activites; track $index) {
    <div class="card carte marge" style="width: 18rem;">
      <p><b>{{ item.nameR }}</b></p>
      <p>type : {{ item.typeAct }}</p>
      <p>matière : {{ item.matiereR }}</p>
      <p>description : {{ item.descriptionR }}</p>
      <button routerLink="/activites/{{item.id}}">Modifier</button>
    </div>
  }
</div>
