<div class="container">
  <div class="sliderContent" [style.transform]="getTransform()">
    <div class="slinderLink menu1">
      <img class="imgMenu suivi" src="icon/mon-suivi.png" alt="" />
      <span>Mon Suivi</span>
    </div>
    <div class="slinderLink menu2">
      <img class="imgMenu other" src="icon/utilisateur(1).png" alt="" /><span
        >Mes informations</span
      >
    </div>
    <div class="slinderLink menu3">
      <img class="imgMenu other" src="icon/cadenas-black.png" /><span
        >Changer le mot de passe</span
      >
    </div>
    <div class="slinderLink menu4">
      <img class="imgMenu other" src="icon/quitter.png" alt="" /><span
        >Supprimer le compte</span
      >
    </div>
  </div>
</div>
