<div class="container">
  <div class="sliderContent" [style.transform]="transform">
    <div
      routerLink="/suivis"
      routerLinkActive="menuSuivi"
      [routerLinkActiveOptions]="{ exact: true }"
      class="slinderLink menu1 height"
      [ngClass]="{ menuSuiviInactive: !isSelected('menu1'), }"
    >
      <img
        class="imgMenu"
        src="icon/mon-suivi.png"
        alt=""
        routerLinkActive="iconWhite"
        [ngClass]="{ iconInactiveSuivi: !isSelected('menu1') }"
      />
      <span>Mon Suivi</span>
    </div>
    <div
      routerLink="/modifProfil"
      routerLinkActive="menuInfo"
      [routerLinkActiveOptions]="{ exact: true }"
      class="slinderLink menu2 height"
      [ngClass]="{ menuSuiviInactive: !isSelected('menu2') }"
    >
      <img
        class="imgMenu"
        src="icon/utilisateur(1).png"
        alt=""
        routerLinkActive="iconWhite"
        [ngClass]="{ iconInactiveSuivi: !isSelected('menu2') }"
      /><span>Mes informations</span>
    </div>
    <div
      routerLink="/modifMdp"
      routerLinkActive="menuMdp"
      [routerLinkActiveOptions]="{ exact: true }"
      class="slinderLink menu3 height"
      [ngClass]="{ menuSuiviInactive: !isSelected('menu3') }"
    >
      <img
        class="imgMenu"
        src="icon/cadenas-black.png"
        alt=""
        routerLinkActive="iconWhite"
        [ngClass]="{ iconInactiveSuivi: !isSelected('menu3') }"
      /><span>Changer le mot de passe</span>
    </div>
    <div
      routerLink="/suppCompte"
      routerLinkActive="menuDelete"
      [routerLinkActiveOptions]="{ exact: true }"
      class="slinderLink menu4 height"
      [ngClass]="{ menuSuiviInactive: !isSelected('menu4') }"
    >
      <img
        class="imgMenu"
        src="icon/quitter.png"
        alt=""
        routerLinkActive="iconWhite"
        [ngClass]="{ iconInactiveSuivi: !isSelected('menu4') }"
      /><span>Supprimer le compte</span>
    </div>
  </div>
</div>
