<div class="container colonne">
  <div class="btnRetour">
    <a href="javascript:void(0);" onclick="window.history.back()"
      ><img class="return" src="icon\flèche-gauche.png" alt=""
    /></a>
  </div>
  <div class="cardCgu">
    <div class="titre">
      <img src="icon/livre-marque-page1.png" alt="livre" />
      <h2>Conditions générales d’utilisation</h2>
    </div>
    <div class="content">
      <span>
        Les présentes conditions générales d'utilisation régissent les rapports
        entre Eduzouzous d'une part et les utilisateurs des sites internet
        référencés sous les noms de domaines: eduzouzous.fr d'autre part.
        <br />
        En résumé
        <ul>
          <li>
            Vous vous engagez à utiliser le site dans le cadre des lois en
            vigueur.
          </li>
          <li>
            Nous nous conformons au RGPD et respectons vos données personnelles.
          </li>
          <li>
            Nous vous garantissons la possibilité d'exercer tous vos droits
            relatifs aux données personnelles.
          </li>
          <li>
            Vous êtes responsable de tout ce que vous postez sur le site et en
            conservez la propriété intellectuelle.
          </li>
          <li>
            Vous vous engagez à publier uniquement du contenu dont vous détenez
            les droits.
          </li>
          <li>
            Le contenu proposé par les utilisateurs n'est pas modéré a priori et
            nous ne sommes pas responsables des éventuels contenus incorrects ou
            inappropriés mis en ligne par des utilisateurs.
          </li>
          <li>
            Tout contenu ou élément graphique qui n'a pas été proposé par un
            utilisateur nous appartient ou nous en avons les droits d'usage et
            vous vous engagez à en respecter la propriété intellectuelle.
          </li>
          <li>
            Nous mettons tout en œuvre pour garantir la sécurité et la
            disponibilité du site mais ne sommes tenus qu'à une obligation de
            moyens.
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
