img {
  height: 1.5rem;
  width: auto;
  filter: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(0%)
    hue-rotate(286deg) brightness(101%) contrast(101%);
}

.imgWeb {
  filter: brightness(0) saturate(100%) invert(28%) sepia(9%) saturate(4873%)
    hue-rotate(176deg) brightness(89%) contrast(82%);
}

.btnWeb {
  background-color: white;
}
button {
  width: 75%;
}

input {
  height: 2rem;
  width: 75%;
}
select {
  height: 2rem;
  width: 75%;
}
