<div class="btnRetour">
  <a href="javascript:void(0);" onclick="window.history.back()"><img class="return" src="icon\flèche-gauche.png"
      alt="" /></a>
</div>

     <!-- Nom de l'école et boutons Actu/établissements -->

<section class="container centre centrecolonne">

  <div class="choixMenuP">
    <h2>{{ ecole.nameEc }}</h2>

    <div class="ligne espace">
      <div class="choixMenuActualites iconeActualite1 centrecolonne colonne">
        <img src="icon\un-journal.png" alt="icon actu" class="iconeActualite">
        <p class="tailletext">Actualités</p>
      </div>

      <div class="choixMenuActualites iconeActualite2 centrecolonne colonne">
        <img src="icon\ecole-1.png" alt="icon etablissement" class="iconeActualite" routerLink="../../ecoleEtablissement/{{ecole.id}}">
        <p class="tailletext">L'établissement</p>
      </div>
    </div>

  </div>

</section>

     <!-- liste des cards actualités -->

<section class="centrecolonne colonneEc">

  <div class="cardsActu couleurcard1 centrecolonne colonne">
    <img src="img\actu bleu tel.png" alt="imageactu1" class="imagecards">
    <h4>Titre</h4>
    <p>Date et heure de la mise en ligne</p>
  </div>

  <div class="cardsActu couleurcard2 centrecolonne colonne">
    <img src="img\actu jaune.png" alt="imageactu2" class="imagecards">
    <h4>Titre</h4>
    <p>Date et heure de la mise en ligne</p>
  </div>

  <div class="cardsActu couleurcard3 centrecolonne colonne">
    <img src="img\actu rouge.png" alt="imageactu3" class="imagecards">
    <h4>Titre</h4>
    <p>Date et heure de la mise en ligne</p>
  </div>

</section>

     <!-- Infos sur l'établissement -->

<section class="centre">

  <div class="cardsActu colonne cardContact">

    <h5>Contact</h5>

    <p><b>Numéro de téléphone :</b> {{ ecole.telEc }}</p>

    <p><b>Adresse de l'établissement :</b> {{ ecole.adresseEc }}</p>

    <p><b>Adresse mail :</b> {{ ecole.mailEc }}</p>

  </div>

</section>

