<p>ecoles-card works!</p>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h2>Ecole n°{{ ecole.id }}</h2>
    <p class="card-text"><span class="bold">Nom : </span>{{ ecole.nameEc }}</p>
    <p class="card-text">
      <span class="bold">Adresse : </span>{{ ecole.adresseEc }}
    </p>
    <p class="card-text">
      <span class="bold">Téléphone : </span>{{ ecole.telEc }}
    </p>
    <p class="card-text">
      <span class="bold">Email : </span>{{ ecole.mailEc }}
    </p>
    <a routerLink="/ecoles/{{ ecole.id }}" class="btn btn-primary"
      >Voir l'école</a
    >
    <a routerLink="/ecoles/{{ ecole.id }}/edit" class="btn btn-success"
      >Modifier</a
    >
  </div>
</div>
