
   <!-- Infos supports et assistance -->

<section class="centre">
  <div class="bulle">
    <h3>Support et assistance</h3>
    <p>Bienvenue sur la page de Support et Assistance

      Nous sommes là pour vous aider ! Vous trouverez ci-dessous les ressources disponibles pour répondre à vos questions et résoudre les problèmes que vous pourriez rencontrer.</p>
      <h4>FAQ - Question fréquemment posées</h4>
      <p class="questionnette">Comment puis-je créer un compte ?</p>
      <a routerLink="/register">Cliquez ici</a>
      <p class="questionnette">Comment réinitialiser mon mot de passe ?</p>
      <a routerLink="/modifierProfil">Cliquez ici</a>
      <p class="questionnette">Comment puis-je contacter le service client ?</p>
      <p>Notre équipe de support est disponible pour vous assister. Vous pouvez nous contacter par les moyens suivants :</p>
      <ul>
        <li>Email : support&#64;eduzouzous.com</li>
        <li>Téléphone : 08 36 65 65 65 <br>
          (Lun - Ven : 9h00 - 18h00)</li>
      </ul>
  </div>
</section>
