<app-en-savoir-plus></app-en-savoir-plus>

<section class="container">

  <!-- bouton retour -->

<div class="btnRetour">
  <a href="javascript:void(0);" onclick="window.history.back()"><img class="return" src="icon\flèche-gauche.png" alt="" /></a>
</div>


    <!-- liste des cards info -->

    <div class="cardinfo">
      <p class="gauche"><b>Eduzouzous</b></p>
      <p>Eduzouzous est une plateforme en ligne dédiée à la gestion scolaire, permettant aux parents et aux enseignants de suivre les activités, les appréciations et les prochains apprentissages. Elle favorise une communication efficace et offre un environnement d'apprentissage motivant et interactif. Eduzouzous rend l'éducation plus accessible et agréable pour tous.</p>
    </div>

    <div class="cardinfo">
      <p><b>Facilité d'utilisation :</b> Notre plateforme est conçue pour être accessible à tous, avec une navigation simple et des outils pratiques.</p>
    </div>

    <div class="cardinfo">
      <p><b>Communication efficace :</b> Restez en contact avec les enseignants, les élèves et les parents grâce à des notifications en temps réel et un support réactif.</p>
    </div>

    <div class="cardinfo">
      <p><b>Soutien à l'apprentissage :</b> Offrez à vos enfants un environnement d'apprentissage motivant et interactif, où ils peuvent s'épanouir.</p>
    </div>

  </section>
