
<app-return-btn></app-return-btn>

<section class="centre">

  <div class="bulle colonne">

    <form [formGroup]="classe" (ngSubmit)="onSubmit()">

      <label for="nameCl">Nom Classe</label>
      <input
        type="text"
        id="nameCl"
        formControlName="nameCl"
        required/>

      <label for="niveauCl">Niveau</label>
      <select name="niveauCl" id="niveauCl" formControlName="niveauCl">
        <option value="" disabled selected>Choisissez le niveau</option>
        @for (item of niveauCl; track $index) {
        <option [value]="item">{{ item }}</option>
        }
      </select>

      <label for="anneeCl">Année</label>
      <input
        type="date"
        id="anneeCl"
        formControlName="anneeCl"
        required
      />

      <label for="ecoleId">Ecole</label>
      <select id="ecoleId" formControlName="ecoleId">
        <option *ngFor="let ecole of ecoles" [value]="ecole.id">
          {{ ecole.nameEc }}
        </option>
      </select>

      <div class="colonneResp centrecolonne">
        <button type="submit">Ajouter</button>
        <button routerLink="/classes">Retour</button>
      </div>
    </form>

  </div>

</section>
