<app-return-btn></app-return-btn>


<h2 class="centre mb-5">MESSAGERIE</h2>




<table class="textColor  mt-1 hidden">
  <!-- <thead class="textColor ">
    <tr>

      <th scope="col"></th>
      <th scope="col">expéditeur</th>
      <th scope="col">contenu du message</th>
      <th scope="col">date et heure</th>
    </tr>
  </thead> -->

  @for (item of messages; track $index ;){
  <tr class=" bordure">
    <div class="msg ligne between centrecolonne">
      <div class="espace" routerLink="/messageDetail/{{ item.id }}">

        <div class="imgProfil centrecolonne ">
          <img id="imgProfil" src="img/touriste 1.png" alt="homme touriste">
        </div>

        <td>{{ item.expediteur }}</td>
        <td>{{ truncate(item.content,10)}}</td>
        <td>{{ item.msgDate }}</td>


        <!-- <td class="hidden2">{{ item.expediteur }} <br>
          {{ truncate(item.content,10)}}</td>
          <td class="hidden2">{{ item.msgDate }}</td> -->


      </div>
      <button (click)="deleteMessage(item.id)" class="btn m-2">
        <img id="iconSupp" src="icon/poubelle.png" alt="poubelle supprimer">
      </button>
    </div>
  </tr>
  }

</table>




<table class="textColor table mt-1 hidden2">


  @for (item of messages; track $index ;){
  <tr class=" bordure">
    <div class="msg ligne between centrecolonne">
      <div class="espace" routerLink="/messageDetail/{{ item.id }}">

        <div class="imgProfil centrecolonne ">
          <img id="imgProfil" src="img/touriste 1.png" alt="homme touriste">
        </div>

        <!-- <td>{{ item.expediteur }}</td>
          <td>{{ truncate(item.content,10)}}</td>
          <td>{{ item.msgDate }}</td> -->


        <td>{{ item.expediteur }} <br>
          {{ truncate(item.content,10)}}</td>
        <td>{{ item.msgDate }}</td>



      </div>
      <button (click)="deleteMessage(item.id)" class="btn m-2">
        <img id="iconSupp" src="icon/poubelle.png" alt="poubelle supprimer">
      </button>
    </div>
  </tr>
  }

</table>

<div class=" addIcon centre color">
  <img id="addIcon" src="icon/ajouter.png" alt="ajouter icon" routerLink="/messagesCreate">
</div>