#imgProfil {
  height: 100px;
}

#btn1 {
  text-align: center;
}
#iconSupp {
  height: 2rem;
  width: auto;
}
table th,
table td {
  color: rgba(41, 79, 127, 0.9);
  font-family: "nunito";
}

a {
  text-decoration: none;
}

tr {
  height: 3em;
  cursor: pointer;
}
.hidden {
  display: flex;
  justify-content: center;
  width: 100%;
}
.hidden2 {
  display: none;
}
table {
  width: 100%;
}
tbody {
  width: 100%;
}

th,
td,
tr {
  width: 100%;
}

@media only screen and (max-width: 390px) {
  #imgProfil {
    height: 3rem;
    width: auto;
    display: flex;
    justify-content: center;
  }

  .hidden {
    display: none;
  }
  .hidden2 {
    display: block;
  }
}
